---

---

<div id="carousel" class="carousel flex space-x-4 w-full justify-between">
    <slot />
</div>

<script>
    // set index and transition delay
    let index = 15;
    let toShow = 5;
    const arry = [...Array(toShow)].map((_,i) => i);

    const transitionDelay = 2000;

    // get div containing the slides
    let slideContainer = document.getElementById('carousel') as HTMLDivElement;
    let slides = Array.from(slideContainer.querySelectorAll<HTMLDivElement>("[data-skill]:not(.hidden)"));

    // set transition delay for slides
    for (let slide of slides) {
        slide.style.transition = `all ${transitionDelay/1000}s linear`;
    }

    // show the first slide
    showSlide(index);

    // show a specific slide
    function showSlide(slideNumber: number) {
        console.log("showing slide: ", slideNumber);
        let slideLength = slides.length;

        slides.forEach((slide, i) => {
            slide.style.display = "none";
            
            arry.forEach(i => {
                slide.classList.toggle(`order-${i + 1}`, false)
            })
        });

        arry.forEach(idx => {
            let t = index + idx;
            if (t > (slideLength - 1)) {
                t = t - slideLength
            }

            const slide = slides[t];
            if (slide) {
                slide.style.display = `flex`;
                slide.classList.toggle(`order-${idx + 1}`, true)
            }
        })


        // next index
        index++;

        // go back to 0 if at the end of slides
        if (index >= slides.length) {
            index = 0;
        }

    }

    // transition to next slide every x seconds
    setInterval (() => showSlide(index), transitionDelay);
</script>

<style>
    .carousel {
        max-width: 600px;
        margin: auto;
        position: relative;
    }
    .slide {
        display: none;
    }    
</style>