---
import Icon from "./Icon.astro";
import IconLinkButton from "./IconLinkButton.astro";



---

<nav class="flex justify-between">
    <section>
        <a href="/" class="text-2xl text-gray-100"><span class="text-primary text-3xl">B</span>rett <span class="text-primary text-3xl">M</span>ahnke</a>
    </section>
    <section class="hidden sm:flex items-center space-x-4">
        <a class="hidden" href="/about">About</a>
        <a class="hidden" href="/projects">Projects</a>
        <IconLinkButton icon="mail" buttonClassList="text-primary border-none hover:text-primary-lighter" iconClassList="w-6 h-6" text="Email Me" link="mailto:brett.mahnke@gmail.com" />
        <IconLinkButton text="external github link" icon='skills/github-dark' buttonClassList="text-primary border-none hover:text-primary-lighter" iconClassList="w-6 h-6 " link="https://github.com/bmahnke" />
        <IconLinkButton text="external linkedin link" icon='social-media/linkedin' buttonClassList="text-primary border-none hover:text-primary-lighter" iconClassList="w-6 h-6" link="https://www.linkedin.com/in/brett-mahnke/" />        
        <IconLinkButton icon='coffee' text="buy me a coffee" border={false} iconClassList="w-6 h-6" link='https://www.buymeacoffee.com/brmahnke' />
    </section>
    <section class="flex sm:hidden relative">
        <a id="mobile-nav-anchor" href="#">
            <Icon icon="menu" myAttributes={{class: "w-7 h-7"}} />
        </a>

        <div id="toggle-nav-menu" class="absolute closed flex flex-col items-center space-y-4 top-1 right-8 w-[100px] bg-slate-800">
            <a href="/about" class="flex w-full justify-center hover:bg-slate-900 p-2">About</a>
            <a class="hidden" href="/projects">Projects</a>
            <IconLinkButton icon="mail" anchorClassList="flex w-full justify-center hover:bg-slate-900" buttonClassList="text-primary border-none hover:bg-slate-850  hover:text-primary-lighter" iconClassList="w-6 h-6" text="Email Me" link="mailto:brett.mahnke@gmail.com" />
            <IconLinkButton text="external github link" anchorClassList="flex w-full justify-center hover:bg-slate-900" icon='skills/github-dark' buttonClassList="text-primary border-none hover:text-primary-lighter" iconClassList="w-6 h-6 " link="https://github.com/bmahnke" />
            <IconLinkButton text="external linkedin link" anchorClassList="flex w-full justify-center hover:bg-slate-900" icon='social-media/linkedin' buttonClassList="text-primary border-none hover:text-primary-lighter" iconClassList="w-6 h-6" link="https://www.linkedin.com/in/brett-mahnke/" />        
            <IconLinkButton icon='coffee' anchorClassList="flex w-full justify-center hover:bg-slate-900"text="buy me a coffee" border={false} iconClassList="w-6 h-6" link='https://www.buymeacoffee.com/brmahnke' />
        </div>
    </section>
    
</nav>

<script>

    const tnm = document.getElementById("toggle-nav-menu");
    function mobileNavClick(ev: Event) {
        tnm?.classList.toggle("open-flex");
        tnm?.classList.toggle("closed");
    }

    const mna = document.getElementById("mobile-nav-anchor");
    mna?.addEventListener("click", (ev: MouseEvent) => mobileNavClick(ev));

    // const onClickOutside = (element : HTMLElement, callback : Function) => {
    //     document.addEventListener('click', (e : Event) => {
    //         if (!element.contains(e.target as Node)) callback(e);
    //     });
    // };

</script>
