---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class="">
		<h1 >Welcome to Challenges</h1>
		<p class="py-4">
			Links to specific challenges
		</p>
		<ul role="list" class="link-card-grid">
			<li><a href="/challenges/social-media-connect-challenge/">Social Media Connect</a>.</li>
		</ul>
	</main>
</Layout>

<style>

</style>
