---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import headshot from '../../assets/headshot-sq.png';
import SocialMediaConnect from '../../components/social-media-connect.astro'
---

<Layout title="Social Media Challenge">
	<main class="flex flex-col space-y-4">
        <nav>
            <span>Navigation</span>
            <ul role="list" class="link-card-grid">
                <li><a href="/">Home</a>.</li>
            </ul>
        </nav>
		<h1 class="text-gray-950 dark:text-gray-300">Social Media Challenge</h1>
        <p>This challenge is present here: <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Social Links Profile</a></p>
        <div class="flex flex-col space-y-2 mx-auto p-8 bg-gray-200 dark:bg-gray-800 rounded-md">
            <SocialMediaConnect imageSrc={headshot} 
                fullName='Brett Mahnke' 
                github='https://github.com/bmahnke' 
                location='Georgia, USA', 
                description='Experienced full-stack developer' 
            />
        </div>
	</main>
</Layout>
